<!-- Rails will call provide function and associate string 'Home'
	 with label :title. Ruby's yield function is used to access
	 that label.  -->
<% provide(:title, 'Home') %>

<h1>ESL Support</h1>
<p>This is the home page for the ESL Support application.</p>


