<!-- Rails will call provide function and associate string 'Home'
	 with label :title. Ruby's yield function is used to access
	 that label.  -->
<div class="center hero-unit">
	<h1>Welcome to ESL Support Website</h1>
	
	<h2> 
		This is the home page for the ESL Support.
	</h2>
	
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary"%>
	
</div>

<%= link_to image_tag("globe.png", alt: "Rails"), 'https://www.google.com'%>


